/* LAYOUT */

body {margin:0; padding:0; box-sizing: border-box;}

.container {min-height:100vh; max-width:1300px; margin:0 auto; display: flex; flex-direction: column; z-index: 0;}
nav.menu-hamburger {position: sticky; z-index: 10;  top:0; }
nav ul {display:flex; flex-direction: column; list-style-type: none; padding-left: 0; margin:0;}
nav ul li {flex:1;}
nav ul li a {display:block; text-align: center; text-decoration: none;}
nav ul li a:hover {text-decoration: underline;}

main {flex:1;}
section {display: flex; flex-direction: column; z-index:0;}
iframe {max-width:90%;}

section:nth-of-type(1) > div {z-index:10; }
.video { z-index:10; margin:0 auto; display:block; }

/* PRESENTATION */

/* rgb(217, 197, 177) */
body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
html { scroll-behavior: smooth;}
nav a {font-size: 1.3rem; padding:10px; color:rgb(242, 229, 215); background-color: rgba(105, 17, 69); transition: 1s;}
nav a:hover, .active {background-color: rgb(143, 99, 125)}
.container {background-color: rgb(235, 213, 191);}
section {scroll-margin-top: 2rem; background-color: rgb(235, 213, 191);}
section:nth-of-type(1) {background-color: transparent;} 
section:nth-of-type(2n) {background-color:rgb(254, 235, 208)}
section div {padding:1rem;}
section h2 {font-size: 2.6rem; margin:0; color: rgba(51,51,51,.7)}

/* FORM standard */

.form {
    max-width: 30rem;
    background-color: rgba(250, 250, 250, 0.8);
    background-image: url(../images/form-gong.jpg);
    background-size: cover;
    border: 1px solid #aa9;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #554;
  }
  
  .form label {
    display: block;
    font-size: 1.2rem;
    width: 7rem;
    height: 2rem;
    background-color: rgba(250, 250, 250, 0.8);
    margin: 0 0 -1rem -1rem;
    padding: 0 0 0 1rem;
  }
  
  .form input,
  .form textarea {
    margin: 0.5rem 0 1rem 0;
    width: 90%;
    max-width: 30rem;
    line-height: 1.7rem;
    padding: 0.2rem;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 2px;
    /* background-color: #fff; */
  }
  
  .form input:hover,
  .form textarea:hover {
    box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.7);
  }
  
  .form input:focus,
  .form textarea:focus {
    box-shadow: 0 0 3px #691145;
  }
  
  .form .btn {
    width: 12rem;
    height: 2.5rem;
    max-height: 2.5rem;
    font-size: 1.1rem;
    padding: 0.2rem;
    margin: 10px;
    border: 1px solid #aa9;
    cursor: pointer;
  }
  
  .form .btn:hover {
    box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.7);
  }

  /* FB link*/


li.fb-link {
    display: flex;
    width: 100%;
  }
  
li.fb-link a {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 1;
    width: 100%;
    display: block;
    height: 3rem;
    background-image: url(../images/fb-gong.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 8px rgba(50, 50, 51, 0.3);
  }
  
  li.fb-link a:hover {
    box-shadow: 2px 4px 10px rgba(50, 50, 50, 0.8);
  }
  
  li.fb-link a span {
    display: none;
  }
  
/* MEDIA QUERIES */

@media (min-width: 700px) {
    nav ul {flex-direction: row;}
    nav ul li {height: 2rem; flex:1;}

    .kontakt ul {
      list-style-type: none;
       padding: 0.5rem;
       background-color: rgba(250, 250, 250, 0.8);
       padding: 2rem 0.2rem;
       border: 1px solid #aa9;
       border-radius: 10px;
       box-shadow: 3px 3px 8px #554;
     }
   
   .kontakt ul li {
       font-size: 1.3rem;
       padding:.5rem;
       color: #331;
     }

}

@media (min-width: 1000px) {

    section {flex-direction: row;}
    section:nth-of-type(2n) {flex-direction: row-reverse;}
    section div {flex:1;}

    .container::before  {
        content: "gongi";
        position: fixed;
        display: inline-block;
        top: 0;
        right: 0;
        font-size: 25rem;
        color: rgba(51, 51, 51, 0.1);
        font-weight: bold;
        z-index:0;
                /* transform: rotate(5deg); */
      }
    
    section:nth-of-type(2)::after {
        content: "gram";
        position: absolute;
        display: inline;
        top: -22rem;
        right: 2rem;
        font-size: 25rem;
        color: rgba(251, 251, 251, 0.5);
        font-weight: bold;
        z-index:2;
         /* transform: rotate(-3deg); */
      }

      section:nth-of-type(1) {position: sticky; top:2rem; z-index:0;}

      section:nth-of-type(2) {position:sticky; top:2rem; z-index: 2;}
      section:nth-of-type(3) {position:relative;  z-index: 4;}
      section:nth-of-type(4) {position:relative;  z-index: 6;}
      section:nth-of-type(5) {position:relative;  z-index: 8;}
    
}