:root {
  --header-height: 4rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  font-size: 2rem;
  line-height: 4rem;
  border-radius: 10px;
  margin: 5px;
}

h2 {
  margin-top: 0;
  padding-top: 0;
}

div.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: no-repeat url("../images/gong1.png") bottom right;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

section {
  height: 100%;
  min-height: 100vh;
  scroll-margin-top: var(--header-height);
}

@media (min-width: 800px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1;
  }

  .gongi h2 {
    font-size: 20rem;
    margin: -3rem;
    overflow: hidden;
  }

  .gongi .effect {
    font-size: 3rem;
  }
}

/* PRESENTATION */

nav a {
  margin: 0;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  user-select: none;
  line-height: var(--header-height);
  /* color: #bdf; */
  /* text-shadow: 2px 2px 2px rgba(130, 30, 200, 0.8); */
}

/* COLORS */

header,
footer {
  /* background-color: rgba(200, 200, 200, 0.7); */
  /* background-color: #6cbcf9; */
  background-color: #691145;
}

header a,
footer a {
  color: #fff;
}

h2 {
  color: rgba(51, 51, 51, 0.7);
}

main {
  /* background-color: rgba(251, 251, 51, 0.1); */
}

section:nth-child(even) {
  /* background-color: rgba(200, 200, 200, 0.4); */
  background-color: #fcf0cc;
}

section:nth-child(odd) {
  /* background-color: rgba(251, 251, 251, 0.2); */
  /* background: linear-gradient(#fff, #abcbe4); */
  background-color: #ead8ba;
}

.active {
  background-color: rgba(251, 251, 251, 0.3);
  /* color: rgba(255, 255, 240, 0.9); */
  /* background-color: #43a7fc; */
  /* color: #def; */
  transition: 1s;
  pointer-events: none;
}

a:active {
  color: #bdf;
}

nav {
  position: relative;
  /* border-bottom: 1px solid #00f; */
}

nav::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 8px;
  background: linear-gradient(#614, transparent);
}

/* FORM */

.form {
  max-width: 30rem;
  background-color: rgba(250, 250, 250, 0.8);
  border: 1px solid #aa9;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #554;
  margin: 2rem;
  padding: 1rem;
}

.form input,
.form textarea {
  margin: 0.5rem 0 1rem 0;
  width: 30rem;
  line-height: 1.3rem;
  padding: 0.2rem;
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 2px;
  /* background-color: #fff; */
}

.form input:hover,
.form textarea:hover {
  box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.7);
}

.form input:focus,
.form textarea:focus {
  box-shadow: 0 0 3px #691145;
}

.form .btn {
  width: 10rem;
  padding: 0.5rem;
  margin-right: 2rem;
  border: 1px solid #aa9;
  cursor: pointer;
}

.form .btn:hover {
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.7);
}

/* SECTION ONE */

#gongi {
  background: right bottom url("../images/gong3.png") no-repeat #ead8ba;
  position: relative;
  font-size: 1rem;
  display: flex;
  /* overflow: hidden; */
}

#gongi::after {
  content: "gongi";
  position: absolute;
  top: -6rem;
  right: -3rem;
  font-size: 30rem;
  color: rgba(51, 51, 51, 0.1);
  font-weight: bold;
}

#gongi h2 {
  font-size: 10rem;
}

#gongi p {
  font-size: 1rem;
}

#gongi > article.gongi {
  width: 30rem;
  margin: 1rem;
}

article.gongi h2 {
  margin-left: 4rem;
  margin-bottom: 2rem;
}

article.gongi > section.gongi-txt {
  margin-top: 4rem;
}

#gongi .video {
  margin: 14rem 0 0 8rem;
  z-index: 1;
}

#gongi .video iframe {
  width: 400px;
}

/* SECTION TWO */

#usluga {
  display: flex;
}

article.usluga {
  flex: 1;
}

article.usluga {
  padding: 0;
}

article.usluga h2 {
  font-size: 4rem;
  margin: 1rem;
}

article.usluga p {
  margin: 2rem;
}

article.usluga picture {
  padding: 10px;
  margin: 10px;
  border: 1px solid #bb9;
  display: inline-block;
}

article.usluga picture .gatsby-image-wrapper {
  box-shadow: 3px 3px 2px #996;
}

/* SECTION THREE */

#omnie {
  display: flex;
}

#omnie h2 {
  font-size: 6rem;
  margin: 0.5rem 1rem;
  text-align: right;
  /* color: #663; */
}

article.omnie {
  flex: 1;
  overflow: hidden;
}

article.omnie .omnie-txt {
  /* top: 2rem; */

  padding-top: 2rem;
}

article.omnie p.effect {
  margin: 1rem 2rem;
  /* margin-top: 0; */
}

article.omnie picture .gatsby-image-wrapper {
  margin: 2rem 0;
  padding: 2rem 0;
}

/* SECTION FOUR */

#kontakt {
  background: left top url("../images/gong2.png") no-repeat #fcf0cc;
  display: flex;
}

#kontakt h2 {
  font-size: 6rem;
  margin: 2rem;
  text-align: right;
  /* color: #663; */
}

article.kontakt {
  flex: 1;
}

article.kontakt ul {
  margin: 11rem 1rem 0 5rem;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 2rem;
  border: 1px solid #aa9;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #554;
}

article.kontakt ul li {
  font-size: 2rem;
  color: #331;
}
